# modules
node_modules/
site/bower_components/

# build
.tmp/
.public/
# dist/

# generated
.sass-cache

# debug
npm-debug.log
.idea/.name
.idea/chartist-js.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
